.navbar {
  height: 80px;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
      font-size: 33px;
      font-weight: 900;
      color: #457aa8;
      letter-spacing: 6px;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
      .icons {
        display: flex;
        gap: 15px;
        cursor: pointer;
        color: #777;

        .cartIcon {
          position: relative;
          span {
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: #fff;
          }
        }
        .favouriteIcon {
          position: relative;
          span {
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: #fff;
          }
        }
      }
    }
  }
}
